<form method="post" action="<%= startTranscriptionJobAction %>" enctype="multipart/form-data" name="inputMedia">
  <div>
    <label for="inputMedia">テキストに変換したい音声ファイルを選択してください</label>
    <input type="file" name="mediaFile" accept="audio/*">
  </div>
  <div>
    <input type="submit" value="送信">
  </div>
</form>

<br />
<br />

<p>すでにタスクの受け付けを済ませた方は、こちらから進捗確認を行ってください。</p>
<form method="get" action="<%= confirmProgressAction %>" enctype="application/json" name="confirmProgress">
  <div>
    <label for="inputMedia">タスク受け付け番号</label>
    <input type="text" name="transcriptionJobId">
  </div>
  <div>
    <input type="submit" value="進捗確認">
  </div>
</form>
